@model CapnSkull.Models.Report
@using CapnSkull.Extensions
@{
    ViewBag.Title = "Name Report";
}
<h1>@ViewBag.Title</h1>
@Html.DisplayFor(x=>x.FirstNameReport)
@Html.DisplayFor(x => x.MiddleNameReport)
@Html.DisplayFor(x => x.LastNameReport)
@Html.DisplayFor(x => x.NickanmeReport)
